---
import Layout from '../layouts/Layout.astro';

import FileIcon from "../assets/icons/file-fav-dynamic-premium.png";
import ClockIcon from "../assets/icons/clock-dynamic-premium.png";
import NotifyIcon from "../assets/icons/notify-heart-dynamic-premium.png";
import ChartIcon from "../assets/icons/chart-dynamic-premium.png";

import RocketIcon from "../assets/icons/rocket-dynamic-gradient.png";
import GiftIcon from "../assets/icons/gift-dynamic-gradient.png";


---

<Layout title="Pricing | ElevateHubMedia">
	<main>
		<section id="value-proposition">
            <div class="heading-icon">
              <img src={RocketIcon.src} alt="Rocket Icon" loading="lazy" />
            </div>
            <div class="value-heading">
              <h2>
                Elevate Your Brand <br />with
                <span class="text-w-color">Unbeatable Value</span>
              </h2>
              <p>
                Join a global clientele leveraging ElevateHubMedia's animated
                explainer videos for impactful messaging and boosted conversions. We
                offer high-quality custom videos at competitive rates, ensuring great
                value for your investment.
              </p>
            </div>
      
            <div class="value-grid">
              <div class="value-grid-item">
                <div class="heading-icon">
                  <img src={FileIcon.src} alt="File Icon" loading="lazy" />
                </div>
                <h3>Transparent Pricing, No Surprises</h3>
                <p>
                  Our clear-cut pricing includes everything you need: a custom script,
                  professional voiceover, and polished video, all priced per animation
                  second. With us, what you see is what you get no hidden fees, just
                  transparent value.
                </p>
              </div>
              <div class="value-grid-item">
                <div class="heading-icon">
                  <img src={ClockIcon.src} alt="Clock Icon" loading="lazy" />
                </div>
                <h3>Fast Delivery, Guaranteed</h3>
                <p>
                  Facing a tight deadline? Our rush service delivers top-tier videos
                  in just 10 days for a small additional fee, ensuring your project
                  shines on time, every time.
                </p>
              </div>
              <div class="value-grid-item">
                <div class="heading-icon">
                  <img src={NotifyIcon.src} alt="Notify Icon" loading="lazy" />
                </div>
                <h3>Engage More, Convert More</h3>
                <p>
                  Videos are key to engagement; customers prefer watching over reading
                  about products. Our captivating animations are designed to hold your
                  audience's attention and drive engagement.
                </p>
              </div>
              <div class="value-grid-item">
                <div class="heading-icon">
                  <img src={ChartIcon.src} alt="Chart Icon" loading="lazy" />
                </div>
                <h3>Boost Your Conversions</h3>
                <p>
                  Including a video can increase landing page conversions by up to
                  80%. Let ElevateHubMedia's videos be your secret weapon for higher
                  conversion rates and a stronger bottom line.
                </p>
              </div>
            </div>
          </section>
  
		<section id="packages">
		  <div class="heading-icon">
			<img src={GiftIcon.src} loading="lazy" alt="Gift Icon" />
		  </div>
		  <h2>
			Select Your Perfect <br /><span class="text-w-color"
			  >Animation Package</span
			>
		  </h2>
		  <div class="packages-container">
			<div class="empty"></div>
			<div class="package">
			  <div>
				<h3>Whiteboard</h3>
				<div class="package-video">
				  <iframe
					loading="lazy"
					title="Whiteboard"
					src="https://player.vimeo.com/video/779846542?h=c14561dd84&amp;dnt=1&amp;app_id=122963"
					frameborder="0"
					allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
					name="fitvid7"
				  ></iframe>
				</div>
				<menu>
				  <li>High Converting Script</li>
				  <li>Powerful Voice-Over</li>
				  <li>Engaging Animation</li>
				  <li>Music & SFX</li>
				  <li>2x Revisions</li>
				  <li>4+ Weeks Delivery</li>
				</menu>
			  </div>
			  <div class="package-cta">
				<a class="btn btn-secondary" href="/contact" target="_blank"
				  >Get Started</a
				>
				<h4>£698/30 seconds</h4>
			  </div>
			</div>
			<div class="package">
			  <div>
				<h3>Explainer</h3>
				<div class="package-video">
				  <iframe
					loading="lazy"
					title="Explainer"
					src="https://player.vimeo.com/video/779837404?h=ee50de10d0&amp;dnt=1&amp;app_id=122963"
					frameborder="0"
					allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
					name="fitvid7"
				  ></iframe>
				</div>
				<menu>
				  <li>High Converting Script</li>
				  <li>Powerful Voice-Over</li>
				  <li>Engaging Animation</li>
				  <li>Music & SFX</li>
				  <li>2x Revisions</li>
				  <li>4+ Weeks Delivery</li>
				</menu>
			  </div>
			  <div class="package-cta">
				<a class="btn btn-secondary" href="/contact" target="_blank"
				  >Get Started</a
				>
				<h4>£1198/30 seconds</h4>
			  </div>
			</div>
			<div class="package">
			  <div>
				<h3 class="premium">Premium</h3>
				<div class="package-video">
				  <iframe
					loading="lazy"
					title="Premium"
					src="https://player.vimeo.com/video/779830854?h=5399429893&amp;dnt=1&amp;app_id=122963"
					frameborder="0"
					allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
					name="fitvid7"
				  ></iframe>
				</div>
				<menu>
				  <li>High Converting Script</li>
				  <li>Powerful Voice-Over</li>
				  <li>Engaging Animation</li>
				  <li>Music & SFX</li>
				  <li>2x Revisions</li>
				  <li>8+ Weeks Delivery</li>
				  <li class="premium">Premium Animation Team</li>
				  <li class="premium">Custom Graphics</li>
				</menu>
			  </div>
			  <div class="package-cta">
				<a class="btn btn-secondary" href="/contact" target="_blank"
				  >Get Started</a
				>
				<h4>£1998/30 seconds</h4>
			  </div>
			</div>
		  </div>
		</section>
  
		<section id="calendly">
		  <h2>
			<span>Need Clarity?</span> Book a Warm, <br />Informal Chat with Us!
		  </h2>
		  <div class="calendly-widget">
			<!-- Calendly inline widget begin -->
			<div
			  class="calendly-inline-widget"
			  data-url="https://calendly.com/jordan-elevatehubmedia/meet?hide_gdpr_banner=1&background_color=fcfcfc&text_color=020004&primary_color=020004"
			  style="min-width: 320px; height: 700px"
			></div>
			<script
			  type="text/javascript"
			  src="https://assets.calendly.com/assets/external/widget.js"
			  async
			></script>
			<!-- Calendly inline widget end -->
		  </div>
		</section>
  
	  </main>
</Layout>

<style>
	
</style>
